In [65]:
import pandas as pd
import numpy as np

In [66]:
episodes = pd.read_excel('data/Episodes.xlsx')

In [67]:
episodes['AdmitDate'] = pd.to_datetime(episodes['AdmitDate'], format='%m/%d/%Y')
episodes['DischargeDate'] = pd.to_datetime(episodes['DischargeDate'], format='%Y-%m-%d')

episodes

        PID  EpisodeID ContractType  AdmitDate DischargeDate
0       530          1          CT1 2019-12-01    2020-01-30
1      1107          2          CT1 2019-12-01           NaT
2      1107          3          CT2 2019-12-01    2019-12-07
3      1107          4          CT2 2019-12-01    2019-12-02
4      1249          5          CT1 2019-12-01           NaT
...     ...        ...          ...        ...           ...
40993  1771      56813          CT1 2019-01-01    2019-01-15
40994  1177      56814          CT1 2019-01-01    2019-01-14
40995  1187      56815          CT1 2019-01-01    2019-02-07
40996  1771      56816          CT1 2019-01-01    2019-01-18
40997  1807      56817          CT1 2019-01-01    2019-01-18

[40998 rows x 5 columns]

In [68]:
longdf = pd.DataFrame(columns=['Date', 'PID', 'EpisodeID', 'ContractType', 'WorkLoadMode','WorkLoadMin','WorkLoadMax'])

for index, row in episodes.iterrows():
    PID = row['PID']
    EpisodeID = row['EpisodeID']
    ContractType = row['ContractType']
    AdmitDate = row['AdmitDate']
    DischargeDate = row['DischargeDate']
    
    if pd.isnull(DischargeDate):
        today = datetime.date.today()
        DischargeDate = today.strftime('%Y-%m-%d')
        
    date_list = [datetime.datetime.strftime(x,'%Y-%m-%d') for x in list(pd.date_range(start=AdmitDate, end=DischargeDate))]
            
    if ContractType == 'CT1':
        workloadmin =  [6.33 for i in range(min(3,len(date_list)))] + [2.86 for i in range(len(date_list)-3)]
        workloadmode = [10.33 for i in range(min(3,len(date_list)))] + [6.57 for i in range(len(date_list)-3)]
        workloadmax =  [22 for i in range(min(3,len(date_list)))] + [18.35 for i in range(len(date_list)-3)]
    elif ContractType == 'CT2':
        workloadmin =  [10.33 for i in range(min(3,len(date_list)))] + [4.71 for i in range(len(date_list)-3)]
        workloadmode = [27.67 for i in range(min(3,len(date_list)))] + [14.29 for i in range(len(date_list)-3)]
        workloadmax =  [50.33 for i in range(min(3,len(date_list)))] + [33.93 for i in range(len(date_list)-3)]
    
    
    episode = pd.DataFrame(columns=['Date', 'PID', 'EpisodeID', 'ContractType', 'WorkLoadMode','WorkLoadMin','WorkLoadMax'])
    episode['Date'] = date_list
    episode['PID'] = PID
    episode['EpisodeID'] = EpisodeID
    episode['ContractType'] = ContractType
    episode['WorkLoadMode'] = workloadmode
    episode['WorkLoadMin'] = workloadmin
    episode['WorkLoadMax'] = workloadmax
    longdf = longdf.append(episode,ignore_index=True)
    
    print("progress: {0}%".format(round((index + 1) * 100 / len(episodes), 2)), end="\r")

In [69]:
longdf

,Date,PID,EpisodeID,ContractType,WorkLoadMode,WorkLoadMin,WorkLoadMax
0,2019-12-01,530,1,CT1,10.33,6.33,22.00
1,2019-12-02,530,1,CT1,10.33,6.33,22.00
2,2019-12-03,530,1,CT1,10.33,6.33,22.00
3,2019-12-04,530,1,CT1,6.57,2.86,18.35
4,2019-12-05,530,1,CT1,6.57,2.86,18.35
...,...,...,...,...,...,...,...
1381253,2019-01-14,1807,56817,CT1,6.57,2.86,18.35
1381254,2019-01-15,1807,56817,CT1,6.57,2.86,18.35
1381255,2019-01-16,1807,56817,CT1,6.57,2.86,18.35
1381256,2019-01-17,1807,56817,CT1,6.57,2.86,18.35
1381257,2019-01-18,1807,56817,CT1,6.57,2.86,18.35

In [70]:
longdf.to_csv('longdf.csv')

In [71]:
date_pid = pd.DataFrame()
date_pid['WorkLoadMode'] = longdf.groupby(['Date', 'PID'])['WorkLoadMode'].sum()
date_pid['WorkLoadMin'] = longdf.groupby(['Date', 'PID'])['WorkLoadMin'].sum()
date_pid['WorkLoadMax'] = longdf.groupby(['Date', 'PID'])['WorkLoadMax'].sum()
date_pid.reset_index(inplace=True)

In [72]:
date_pid

              Date  PID  WorkLoadMode  WorkLoadMin  WorkLoadMax
0       2019-01-01    6        304.37       113.63       553.63
1       2019-01-01    8        536.06       202.60       978.27
2       2019-01-01    9        155.32        75.30       304.99
3       2019-01-01   10         55.34        20.66       100.66
4       2019-01-01   11        110.68        41.32       201.32
...            ...  ...           ...          ...          ...
382240  2021-04-14  716          6.57         2.86        18.35
382241  2021-04-15  716          6.57         2.86        18.35
382242  2021-04-16  716          6.57         2.86        18.35
382243  2021-04-17  716          6.57         2.86        18.35
382244  2021-04-18  716          6.57         2.86        18.35

[382245 rows x 5 columns]

In [73]:
date_pid.to_csv('date_pid.csv')

In [75]:
SNFs = pd.read_excel('data/SNFs.xlsx')

In [113]:
lat_l, lon_l = [], []
for index, row in SNFs.iterrows():
    ProviderPracticeAddress1 = row['ProviderPracticeAddress1']
    ProviderPracticeCity = row['ProviderPracticeCity']
    ProviderPracticeStateCode = row['ProviderPracticeStateCode']
    ProviderPracticeZipCode = row['ProviderPracticeZipCode']
    
    address = ProviderPracticeAddress1+', ' +ProviderPracticeCity+', '+ProviderPracticeStateCode+' '+str(ProviderPracticeZipCode)
    try:
        locator = Nominatim(user_agent='myGeocoder')
        location = locator.geocode(address)
        lat = location.latitude
        lon = location.longitude
    except:
        lat = np.nan
        lon = np.nan
    lat_l.append(lat)
    lon_l.append(lon)

    print("progress: {0}%".format(round((index + 1) * 100 / len(SNFs), 2)), end="\r")

In [114]:
SNFs['latitude'] = lat_l
SNFs['longitude'] = lon_l

In [138]:
PID_latlon = SNFs[['PID','latitude','longitude']]
PID_latlon

       PID   latitude   longitude
0        1        NaN         NaN
1        2  32.481913  -99.746158
2        3        NaN         NaN
3        4        NaN         NaN
4        5        NaN         NaN
...    ...        ...         ...
1808  1809  31.785765  -96.452405
1809  1810  29.307465  -97.129599
1810  1811  32.968797 -102.835492
1811  1812  29.306790  -97.130264
1812  1813  28.977992  -97.512121

[1813 rows x 3 columns]

In [124]:
PID_latlon[PID_latlon.isnull().T.any()]

       PID  latitude  longitude
0        1       NaN        NaN
2        3       NaN        NaN
3        4       NaN        NaN
4        5       NaN        NaN
12      13       NaN        NaN
...    ...       ...        ...
1784  1785       NaN        NaN
1786  1787       NaN        NaN
1787  1788       NaN        NaN
1800  1801       NaN        NaN
1802  1803       NaN        NaN

[276 rows x 3 columns]

In [119]:
result = date_pid.merge(PID_latlon, on='PID', how='left')

In [120]:
result

,Date,PID,WorkLoadMode,WorkLoadMin,WorkLoadMax,latitude,longitude
0,2019-01-01,6,304.37,113.63,553.63,30.583101,-96.275736
1,2019-01-01,8,536.06,202.60,978.27,33.040040,-96.832425
2,2019-01-01,9,155.32,75.30,304.99,32.887383,-96.765846
3,2019-01-01,10,55.34,20.66,100.66,33.853630,-98.536196
4,2019-01-01,11,110.68,41.32,201.32,32.875667,-96.613629
...,...,...,...,...,...,...,...
382240,2021-04-14,716,6.57,2.86,18.35,30.702646,-95.541119
382241,2021-04-15,716,6.57,2.86,18.35,30.702646,-95.541119
382242,2021-04-16,716,6.57,2.86,18.35,30.702646,-95.541119
382243,2021-04-17,716,6.57,2.86,18.35,30.702646,-95.541119
382244,2021-04-18,716,6.57,2.86,18.35,30.702646,-95.541119

In [121]:
result[result.isnull().T.any()]

,Date,PID,WorkLoadMode,WorkLoadMin,WorkLoadMax,latitude,longitude
6,2019-01-01,13,110.68,41.32,201.32,NaN,NaN
8,2019-01-01,15,27.67,10.33,50.33,NaN,NaN
9,2019-01-01,17,318.02,128.62,591.30,NaN,NaN
12,2019-01-01,20,38.00,16.66,72.33,NaN,NaN
35,2019-01-01,67,27.67,10.33,50.33,NaN,NaN
...,...,...,...,...,...,...,...
381772,2020-12-25,1163,6.57,2.86,18.35,NaN,NaN
381783,2020-12-26,1163,6.57,2.86,18.35,NaN,NaN
381794,2020-12-27,1163,6.57,2.86,18.35,NaN,NaN
381805,2020-12-28,1163,6.57,2.86,18.35,NaN,NaN
381816,2020-12-29,1163,6.57,2.86,18.35,NaN,NaN

In [125]:
result.to_csv('case1.csv')

In [127]:
CCs = pd.read_excel('data/CCs.xlsx')

In [128]:
CCs

   CCName        Lat         Lon
0     CC1  30.581417  -96.273549
1     CC2  29.941640  -95.621466
2     CC3  29.572316  -98.664508
3     CC4  33.014365  -96.914067
4     CC5  32.906213  -97.245081
5     CC6  30.317991  -95.546260
6     CC7  30.400980  -97.608475
7     CC8  30.256568  -97.866515
8     CC9  33.494254  -94.103031
9    CC10  29.987645  -94.006402
10   CC11  32.664879  -97.185828
11   CC12  30.165193  -97.849808
12   CC13  33.060501  -97.012194
13   CC14  33.214847  -96.713426
14   CC15  29.519390  -95.426823
15   CC16  32.627434  -96.855873
16   CC17  31.612382  -94.645918
17   CC18  32.917913  -97.202419
18   CC19  31.947099 -106.433022

In [154]:
distance = np.array([(x,y) for x in SNFs['PID'] for y in CCs['CCName']])
distance = pd.DataFrame(distance, columns=['PID','CCName'])
distance[['PID']] = distance[['PID']].astype(int)

In [155]:
distance = distance.merge(CCs, on='CCName', how='left')
distance = distance.merge(PID_latlon, on='PID', how='left')

In [158]:
distance = distance.dropna(axis=0,how='any')

In [159]:
distance

        PID CCName        Lat         Lon   latitude  longitude
19        2    CC1  30.581417  -96.273549  32.481913 -99.746158
20        2    CC2  29.941640  -95.621466  32.481913 -99.746158
21        2    CC3  29.572316  -98.664508  32.481913 -99.746158
22        2    CC4  33.014365  -96.914067  32.481913 -99.746158
23        2    CC5  32.906213  -97.245081  32.481913 -99.746158
...     ...    ...        ...         ...        ...        ...
34442  1813   CC15  29.519390  -95.426823  28.977992 -97.512121
34443  1813   CC16  32.627434  -96.855873  28.977992 -97.512121
34444  1813   CC17  31.612382  -94.645918  28.977992 -97.512121
34445  1813   CC18  32.917913  -97.202419  28.977992 -97.512121
34446  1813   CC19  31.947099 -106.433022  28.977992 -97.512121

[29203 rows x 6 columns]

In [162]:
from geopy.distance import great_circle

distance_list = []
for index, row in distance.iterrows():
    CC_location = (row['Lat'], row['Lon'])
    SNF_location = (row['latitude'], row['longitude'])
    distance_list.append(great_circle(CC_location, SNF_location).miles)
    
    print("progress: {0}%".format(round((index + 1) * 100 / len(distance), 2)), end="\r")

progress: 3.02%

In [165]:
distance['distance'] = np.array(distance_list)

/Users/waittim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [166]:
distance

        PID CCName        Lat         Lon   latitude  longitude    distance
19        2    CC1  30.581417  -96.273549  32.481913 -99.746158  243.011926
20        2    CC2  29.941640  -95.621466  32.481913 -99.746158  300.312068
21        2    CC3  29.572316  -98.664508  32.481913 -99.746158  210.983835
22        2    CC4  33.014365  -96.914067  32.481913 -99.746158  168.632633
23        2    CC5  32.906213  -97.245081  32.481913 -99.746158  148.350832
...     ...    ...        ...         ...        ...        ...         ...
34442  1813   CC15  29.519390  -95.426823  28.977992 -97.512121  131.156102
34443  1813   CC16  32.627434  -96.855873  28.977992 -97.512121  255.140317
34444  1813   CC17  31.612382  -94.645918  28.977992 -97.512121  249.713993
34445  1813   CC18  32.917913  -97.202419  28.977992 -97.512121  272.840025
34446  1813   CC19  31.947099 -106.433022  28.977992 -97.512121  569.280193

[29203 rows x 7 columns]

In [167]:
distance.to_csv('distance.csv')